{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}

<div class="popup-form__submit">
    <div class="form-field_wrapper">
        <input{{ attributes }} />{{ children }}
    </div>
</div>

